/*  your css code here. If applicable */
/* Table styling */
table.middle {
    border: 1px solid black;
    border-spacing: 1px;
}

table.middle td {
    border: 1px solid black;
    padding: 1px;
}

/* Alignment classes */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* Background color classes */
.green {
    background-color: green;
}

.blue {
    background-color: blue;
}
